$primary-color: #E41F20;
$secondary-color: #DD2927;
$unselect-gradient: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
$selected-gradient: linear-gradient(180deg, rgba(228,31,32,1) 0%, rgba(252,116,116,1) 100%);
@mixin white-box {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    filter: drop-shadow(0px 2px 4px #a0a0a0);
    border-radius: 14px;
}
@mixin bold-color-text {
    color: $primary-color;
    font-weight: bold;
}
@mixin mobile-border-red {
    border-bottom: solid $primary-color 6px;
}
@mixin margin-center {
    margin-left: auto;
    margin-right: auto;
}
/* Sitewide */
body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
     a {
        text-decoration: none;
     }

 }
 

header {
    background-color: $primary-color;
    height: 80px;

    a {
        color: #FFFFFF;
    }

    #logo {
        max-height: 80px;
        padding: 0;
        text-align: left;
        img {
            height: 58px;

            margin-top: 11px;
        }
    }

    ul  {
        
        li {
            padding: 30px 0 30px 0;
            display: inline;
            color: white;
            text-align: right;
            text-decoration: none;
                a {
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                }
        }
        #portfolio-link {
          /*  margin-left: 20px; */
        }
    }
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    color: $primary-color;
}

footer {
    height: 243px;
    background-color: $primary-color;
}

/* index */

.index-banner {
    text-align: center;
    padding: 44px 0 44px 0;
    position: relative;
    z-index: 4;
    background-color: white;
        span {
            padding-bottom: 5px;
        }
}

#title-main {
    margin-top: 5px;
}

.bottom-span {
    border-top: 0px;
    border-bottom: solid #E41F20 6px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

.play-button {
    height: 18px;
    margin-top: 20px;
}

  video {
    height: 231px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    visibility: hidden;
}


.shortcut-box {
    height: 126px;
    background: $selected-gradient;
    color: #FFFFFF;
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 2px 4px #a0a0a0);
    border-radius: 14px;
    font-weight: bold;
    transition: transform 0.3s ease;
        
        &:hover {
            transform: scale(1.05);
        }
}



.main-med-title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 2.125em;
    text-align: center;
    margin-top: 20px;
}

.spotlight {
    background-image: url(../images/industry-night-image-mobile.jpg);
    background-size:cover;
    height: 413px;
        .main-med-title {
            margin-top: 41px;
            color: #FFFFFF;
        }

        .spotlight-text, .spotlight-text-2{
            color: #FFFFFF;
            font-weight: bold;
            margin-left: 26px;
            margin-right: 26px;
            margin-bottom: 32px;
        }
}

#industry-night-spotlight {
    .spotlight-border-bottom {
        @include mobile-border-red;
        height: 6px;
        margin-bottom: 20px;
        width: 260px;
        @include margin-center;
        }
}

span {
    border-top: solid #E41F20 6px;
    margin-top: 15px;
  }

#event-border-bottom, #dev-border-bottom {
    margin-bottom: 25px
}

#event-border-bottom {
    @include mobile-border-red;
    width: 233px;
    @include margin-center;
}

.detail-box {
    height: 167px;
    background: $unselect-gradient;
    margin-bottom: 37px;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 2px 4px #a0a0a0);
    border-radius: 14px;

        .detail-title {
            margin-top: 16px;
            margin-bottom: 20px;
            color: $primary-color;
            font-weight: bold;
            @include margin-center;
        }
        p {
            text-align: center;
            margin-left: 21.5px;
            margin-right: 21.5px;
        }
        
}

#idp-title {
    height: 82px;
}

#idp-spotlight {
    padding-left: 0px;
    padding-right: 0px;
    height: 580px;

    h2 {
        margin-bottom: 20px;
    }


    
}

#capstone-button, #learn-more-button {
    height: 51px;
}

#learn-more-button {
    p {
        margin: 0 auto;
    }
}

#testim-border-bottom {
    @include mobile-border-red;
    width: 233px;
    @include margin-center;
    margin-bottom: 0px;
}

.testim-box {
    height: 167px;
    margin-top: 27px;
    @include white-box;


        .testim-text, .testim-name {
            margin-left: 21px;
            margin-right: 21px;
            margin-top: 19px
        }

        .testim-name {
            @include bold-color-text;
        }
        
}



#dev-border-bottom {
    @include mobile-border-red;
    width: 264px;
    @include margin-center;
}


/* portfolio */

#title-portfolio-s {
    font-size: 3.75rem;
}

#title-portfolio-l {
    display: none;
}

#title-border-top {
    border-bottom:solid black 6px ;
    width: 253px;
    margin: auto;
}

#title-border-bottom {
    border-bottom:solid black 6px ;
    width: 305px;
    margin: auto;
}

.portfolio-banner {
    text-align: center;
    margin: 44px 0 44px 0;
}


.portfolio-box {
    height: 126px;
    background: $unselect-gradient;
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 2px 4px #a0a0a0);
    border-radius: 14px;
    color: $primary-color;
    font-weight: bold;
    transition: transform 0.3s ease;
        
        &:hover {
            background: $selected-gradient;
            color: #FFFFFF;
            transform: scale(1.05);
        }
}

 /* ---tablet Sized Screens--- */
 @media screen and (min-width: 768px) {

    .portfolio-banner {
        margin: 87px 0 87px 0;
    }

    #portfolio-link {
        a {
        margin-left: -27px;          
        }
    }

 }

  /* ---desktop Sized Screens--- */
  @media screen and (min-width: 1200px) {  

    #title-portfolio-s {
        display: none;
    }

    #title-portfolio-l {
        font-size: 5.3125rem;
        display: block;
    }

    #title-border-top {
        width: 357px;
        border-bottom:solid black 13px ;
        margin-left: 170px;
    }

    #title-border-bottom {
        width: 831px;
        border-bottom:solid black 13px ;
    }

    .portfolio-banner {
        margin: 219px 0 219px 0;
    }

    .portfolio-box {
        height: 143px;
        font-size: 1.5625rem;


    }



  }

