$primary-color: #E41F20;
$secondary-color: #DD2927;
$unselect-gradient: linear-gradient(#FFFFFF, #F5F5F5);
$selected-gradient: linear-gradient(#E41F20, #FC7474);
/* Sitewide */
body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
     a {
        text-decoration: none;
     }

 }
 

header {
    background-color: $primary-color;
    height: 80px;

    a {
        color: #FFFFFF;
    }

    #logo {
        max-height: 80px;
        padding: 0;
        text-align: left;
        img {
            height: 58px;

            margin-top: 11px;
        }
    }

    ul  {
        
        li {
            padding: 30px 0 30px 0;
            display: inline;
            color: white;
            text-align: right;
            text-decoration: none;
        }
        #portfolio-link {
          /*  margin-left: 20px; */
        }
    }
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    color: $primary-color;
    font-size: 3.75rem;
}

footer {
    height: 243px;
    background-color: $primary-color;
}

/* portfolio */

#title-hide-l {
    display: none;
}

#title-border-top {
    border-bottom:solid black 6px ;
    width: 253px;
    margin: auto;
}

#title-border-bottom {
    border-bottom:solid black 6px ;
    width: 305px;
    margin: auto;
}

.portfolio-banner {
    text-align: center;
    margin: 44px 0 44px 0;
}


.portfolio-box {
    height: 126px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 2px 4px #a0a0a0);
    border-radius: 14px;
    color: $primary-color;

        &:hover {
            background: linear-gradient(180deg, rgba(228,31,32,1) 0%, rgba(252,116,116,1) 100%);
            color: #FFFFFF;
        }
}

 /* ---tablet Sized Screens--- */
 @media screen and (min-width: 768px) {

    .portfolio-banner {
        margin: 87px 0 87px 0;
    }

    #portfolio-link {
        a {
        margin-left: -27px;          
        }
    }

 }

  /* ---desktop Sized Screens--- */
  @media screen and (min-width: 1200px) { 

    h1 {
        font-size: 5.3125rem;
    }    

    #title-hide-s {
        display: none;
    }

    #title-hide-l {
        display: block;
    }

    #title-border-top {
        width: 357px;
        border-bottom:solid black 13px ;
        margin-left: 170px;
    }

    #title-border-bottom {
        width: 831px;
        border-bottom:solid black 13px ;
    }

    .portfolio-banner {
        margin: 219px 0 219px 0;
    }

    .portfolio-box {
        height: 143px;

    }



  }